body {
    font-family: Arial, sans-serif;
    background-color: white;
   background-image: url('../Images/profile.jpg');
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
}


